@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    
        width: 100%;
        background: linear-gradient(to top, rgba(171, 124, 171, 0.379)50%,rgba(171, 124, 171, 0.379)50%),url(background.webp);
        background-position: center;
        background-size: cover;
        height: 100vh
   
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #4a061f;
}
nav ul li a:hover{
    color:#4a061f;
}
.btn{
    background: #4a061f;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover{
    background: transparent;
    color: #080107;
    border: 1px solid #000000;
}
.info{
    margin-left: 10%;
    margin-top: 0%;
}
.info h1{
    font-size: 40px;
    color: #110e0e;
}
.info h1 span{
   color: #4a061f;
}
.info p{
    color: #0e1014;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-box{
    width: 40%;
    height: 60%;
    position: absolute;
    bottom: 35%;
    right: 100px;
}
.img-box img{
    height: 60%;
    position: absolute;
    left: 50%;
    bottom: 0;
}
.inf{
    margin-left: 10%;
    margin-top: 2%;
}
.inf p{
    font-size: 20px;
    color: #110e0e;
}
.inf p span{
   color: #4a061f;
}
.inf p{
    color: #0e1014;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social{
    margin-left: 10%;
    margin-top: 30px;
}
.social p{
    font-size: 20px;
    color: #110e0e;
}
.social a{
    font-size: 28px;
    color: #030404;
    margin-right: 20px;
}
.social a:hover{
    color: #630663;
}